@font-face {
    font-family: 'Roboto-Light';
    src: url('../asserts/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Azeret-Mono';
    src: url('/asserts/fonts/Azeret_Mono/static/AzeretMono-Black.ttf');
}