@import './reset.scss';

.content{
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    text-align: center;
    overflow: hidden;

    &__banner{
        position: relative;
        max-width: 1140px;
        height: 750px;
    }

    &__title
    {
        margin-left: 55px;
        margin-top: 50px;
        position: absolute;
        font-size: 68px;
        letter-spacing: 5px;
        word-wrap: break-word;
        color: #fff;
        width: .7em; 
    }

    &__banner-img {
        object-fit: cover;
    }
}

.main
{
    &__title{

    }
}

.dishes
{
    &__title{

    }

    &__dishe-left{

    }

    &____dishe-centre{

    }

    &__dishe-right{

    }
}

.footer
{

}

.contacts{
    &__social-networks{
        &-items{}
        &-facebook{}
        &-instagram{}
        &-telegram{}
    }
    &__other-types{
        &-email{}
        &-phon{}
    }
}