@import './reset.scss';


.header {
    text-align: center;
    overflow: hidden;

    &__banner{
        position: relative;
        max-width: 1140px;
        height: 750px;
    }

    &__title
    {
        margin-left: 55px;
        margin-top: 50px;
        position: absolute;
        font-size: 68px;
        letter-spacing: 5px;
        word-wrap: break-word;
        color: #fff;
        width: .7em; 
    }

    &__banner-img {
        object-fit: cover;
    }
}