@import './reset.scss';
@import './fonts-style.scss';

.content {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    text-align: center;
    overflow: hidden;

    &__banner {
        position: relative;
        max-width: 1140px;
        height: 750px;
    }

    &__title {
        @extend %logo-text;
    }

    &__banner-img {
        object-fit: cover;
    }
}

.main {
    &__title {
        @extend %heading-1;
        margin-top: 50px;
    }

    &__text {
        @extend %text-1;

        margin-top: 50px;
    }
}

.dishes {

    &__item {
        max-width: 1140px;
        display: flex;
        margin-top: 50px;
    }

    &__title {
        &__left {
            @extend %heading-3;

            text-align: left;
        }

        &__right {
            @extend %heading-3;

            text-align: right;
        }

        &__left-from-centre {
            @extend %heading-3;
            text-align: right;
        }

        &__right-from-centre {
            @extend %heading-3;
            text-align: left;
        }
    }

    &__description {
        &__left {
            margin-left: 50px;
        }

        &__right {
            margin-right: 50px;
        }

        &__left-from-centre {
            margin-right: 50px;

        }

        &__right-from-centre {
            margin-left: 50px;
        }
    }

    &__img {

        &__left {
            max-width: 500px;
        }

        &__centre {
            max-width: 500px;
        }

        &__right {
            max-width: 500px;
        }
    }

    &__text {
        &-item {
            @extend %text-2;
            width: 100%;
        }

        &__left {
            text-align: left;
        }

        &__right {
            text-align: right;
        }
    }
}

.footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.contacts {
    &__item {
        margin-bottom: 50px;
    }

    &__title {

        @extend %heading-2;
        margin-bottom: 20px;
    }

    &__text {

        @extend %text-3;

        &-line {
            letter-spacing: 1px;
            margin-top: 24px;
        }
    }

    &__link {
        @extend %text-3;
        text-transform: uppercase;
        color: #000;
    }

    &__social-networks {

        &-list {
            display: flex;
        }

        &-items {
            margin-right: 24px;
        }
    }
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;

    &__title {
        @extend %heading-2;
        text-align: center;
        margin-bottom: 20px;
    }

    &__item input,
    textarea {
        display: block;
        background-color: white;
        text-align: center;
        width: 100%;
        padding: 10px 0px;
    }

    &__input-item {

        @extend %text-3;
        border: 1px solid black;

    }

    &__message-text {
        height: 300px;
    }

    &__button {

        margin: 0 auto;
        width: 300px;
        @extend %text-button;
        background-color: white;
        margin-bottom: 50px;
    }

    &__button:hover {
        background-color: black;
        color: white;
    }
}