/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../asserts/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Azeret-Mono";
  src: url("/asserts/fonts/Azeret_Mono/static/AzeretMono-Black.ttf");
}
.content {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  text-align: center;
  overflow: hidden;
}
.header__banner {
  position: relative;
  max-width: 1140px;
  height: 750px;
}
.header__title {
  margin-left: 55px;
  margin-top: 50px;
  position: absolute;
  font-size: 68px;
  letter-spacing: 5px;
  word-wrap: break-word;
  color: #fff;
  width: 0.7em;
}
.header__banner-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.main__title {
  font-family: "Azeret-Mono";
  font-size: 48px;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 50px;
}
.main__text {
  font-family: "Roboto-Light";
  font-size: 38px;
  text-align: left;
  margin-top: 50px;
}

.dishes__item {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.dishes__title__left {
  font-family: "Azeret-Mono";
  font-size: 24px;
  text-align: left;
}
.dishes__title__right {
  font-family: "Azeret-Mono";
  font-size: 24px;
  text-align: right;
}
.dishes__title__left-from-centre {
  font-family: "Azeret-Mono";
  font-size: 24px;
  text-align: right;
}
.dishes__title__right-from-centre {
  font-family: "Azeret-Mono";
  font-size: 24px;
  text-align: left;
}
.dishes__description__left {
  margin-left: 50px;
}
.dishes__description__right {
  margin-right: 50px;
}
.dishes__description__left-from-centre {
  margin-right: 50px;
}
.dishes__description__right-from-centre {
  margin-left: 50px;
}
.dishes__img__left {
  width: 400px;
}
.dishes__img__centre {
  width: 500px;
}
.dishes__img__right {
  width: 350px;
}
.dishes__text {
  font-family: "Roboto-Light";
  font-size: 18px;
  margin-top: 24px;
}
.dishes__text-item {
  font-family: "Roboto-Light";
  line-height: 24px;
  font-size: 18px;
  margin-top: 24px;
}
.dishes__text__left {
  text-align: left;
}
.dishes__text__right {
  text-align: right;
}